body {
  padding-top: 10px;
  background-color: lightblue;
}
h2{
    text-align: center;
}
.nav_link {
  font-family: verdana;
  font-size: 10px;
}
.func_link {
  font-size: 12px;
}
table {
    padding-left: 5px;
    width: 60%;
    border-width: 1px;
    border-style: solid;
    border-color: #def;
    border-collapse: collapse;
    text-align: left;
}
th {
  background-color: DarkTurquoise;
  color: white;
}
td {
  border-bottom: 1px solid #ddd;
  font-family: verdana;
  font-size: 12px;
}
tr:nth-child(even) {background-color: lightgray;}