<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Deloitte DevOps Application</title>
    <link rel="stylesheet" href="./css/style.css"/>
</head>
<body>
<div><span class="version-box"></span> <span class="version-text" th:text="${uiVersion}"></span></div>
<h2>Deloitte DevOps Demo Application</h2>
<p><a href="ui/teammembers" class="func_link">Team Members List</a></p>
<!--<p><a th:href="@{'/ui/teammembers'}" class="link">Team Members List</a></p>-->
</body>
</html>