<!DOCTYPE HTML>
<!--<html lang="en"-->
      <!--xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
      <!--layout:decorator="default">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Deloitte DevOps Application</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<!--<div layout:fragment="content" class="row">-->
<div><span class="version-box"></span> <span class="version-text" th:text="${uiVersion}"></span></div>
<div th:replace="fragments ::header-nav"></div>
<div class="row">
    <div class="col-xs-8 col-md-8">
        <h2>Deloitte DevOps Demo Application</h2>
        <h3>Team Members List</h3>
        <div class="table-responsive">
            <table class="table" id="teammember-table">
                <thead>
                <tr>
                    <th>Team Member Name</th>
                    <th>Team Member Role</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="teammember : ${teamMembersList}">
                    <td><a class="hyper-data" th:text="${teammember.name}" th:href="@{'/ui/teammembers-details/' + ${teammember.id}}"></a></td>
                    <td th:text="${teammember.role}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
    </div>
</div>
<p></p>
<div th:replace="fragments ::footer-copyright"></div>
</body>
</html>