<!DOCTYPE HTML>
<!--<html lang="en"-->
<!--xmlns:th="http://www.thymeleaf.org"-->
<!--xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--layout:decorator="default">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Deloitte DevOps Application</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<!--<div layout:fragment="content" class="row">-->
<a th:href="@{'/'}" class="nav_link"><span class="glyphicon glyphicon-plus-sign"></span>Home</a>
<div><span class="version-box"></span> <span class="version-text">Version 1.0</span></div>
<div class="row">
    <div class="col-xs-8 col-md-8">
        <h2>Deloitte DevOps Demo Application</h2>
        <h3>Add New Team Members</h3>
        <form action="teammembers-save">
            <table class="table" id="teammember-table">
                <tr>
                    <th>Team Member Name</th>
                    <td>
                        <input id="name" type="text" class="form-control" name="name" />
                    </td>
                </tr>
                <tr>
                    <th>Team Member Role</th>
                    <td>
                        <input id="role" type="text" class="form-control" name="role" />
                    </td>
                </tr>
            </table>
            <p/>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>
</body>
</html>