<!DOCTYPE HTML>
<!--<html lang="en"-->
<!--xmlns:th="http://www.thymeleaf.org"-->
<!--xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--layout:decorator="default">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Deloitte DevOps Application</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script language="JavaScript" type="text/javascript" th:src="@{/js/uiscripts.js}"></script>
</head>
<body>
<!--<div layout:fragment="content" class="row">-->
<a th:href="@{'/'}" class="nav_link"><span class="glyphicon glyphicon-plus-sign"></span>Home</a>
<div><span class="version-box"></span> <span class="version-text" th:text="${uiVersion}"></span></div>
<div class="row">
    <div class="col-xs-8 col-md-8">
        <h2>Deloitte DevOps Demo Application</h2>
        <h3>Modify Team Member</h3>
        <form action="teammembers-update">
            <table class="table" id="teammember-table">
                <tr>
                    <th>Team Member Name</th>
                    <td>
                        <input id="teamMemberId" type="hidden" class="form-control" name="teamMemberId" th:value="${teamMember.id}" /><input id="name" type="text" class="form-control" name="name" th:value="${teamMember.name}"/>
                    </td>
                </tr>
                <tr>
                    <th>Team Member Role</th>
                    <td>
                        <input id="role" type="text" class="form-control" name="role" th:value="${teamMember.role}"/>
                    </td>
                </tr>
            </table>
            <p/>
            <button type="submit" class="btn btn-success" onclick="return validateForm();">Save</button>
        </form>
    </div>
</div>
<div th:replace="footer :: footer-nav"></div>
<div th:replace="footer :: footer-copyright"></div>
</body>
</html>